Repository fluxcd/helm-controller, pull requests merged in 2022-05, with the labels that each got.

#473 Update dependencies
  api/go.mod
  api/go.sum
  config/default/kustomization.yaml
  go.mod
  go.sum
Labels: area/build

#474 spec: take note of KubeConfig.SecretRef.Key field
  docs/spec/v2beta1/helmreleases.md
Labels: area/docs

#477 Prepare Helm release logic rewrite
  api/v2beta1/condition_types.go
  controllers/helmrelease_chart_controller.go
  controllers/helmrelease_chart_controller_test.go
  controllers/helmrelease_controller.go
  controllers/helmrelease_controller_chart.go
  controllers/helmrelease_controller_chart_test.go
  controllers/helmrelease_controller_test.go
  go.mod
  internal/chartutil/values.go
  internal/chartutil/values_test.go
  internal/cmp/simple_reporter.go
  internal/cmp/simple_reporter_test.go
  internal/kube/builder.go
  internal/kube/builder_test.go
  internal/kube/client.go
  internal/kube/client_test.go
  internal/kube/config.go
  internal/kube/config_test.go
  internal/kube/impersonate.go
  internal/kube/impersonate_test.go
  internal/loader/artifact_url.go
  internal/loader/artifact_url_test.go
  internal/loader/testdata/chart-0.1.0.tgz
  internal/postrender/combined.go
  internal/postrender/kustomize.go
  internal/postrender/kustomize_test.go
  internal/postrender/origin_labels.go
  internal/postrender/origin_labels_test.go
  internal/predicates/chart_template_predicate.go
  internal/predicates/chart_template_predicate_test.go
  internal/predicates/source_predicate.go
  internal/predicates/source_predicate_test.go
  internal/runner/runner.go
  internal/storage/driver.go
  internal/storage/observer.go
  internal/storage/observer_test.go
  internal/storage/testdata/istio-base-1
  internal/storage/testdata/podinfo-helm-1
  internal/storage/testdata/prom-stack-1
  main.go
Labels: enhancement

#480 kube: load KubeConfig (token) from FS on every reconcile
  controllers/helmrelease_controller.go
  go.mod
  internal/kube/builder.go
  internal/kube/builder_test.go
  internal/kube/client.go
  internal/kube/client_test.go
  internal/kube/config.go
  internal/kube/config_test.go
  internal/kube/impersonate.go
  internal/kube/impersonate_test.go
  main.go
Labels: bug, enhancement, area/helm

#484 Updating API group name to helm.toolkit.fluxcd.io in docs
  docs/spec/v2beta1/helmreleases.md
Labels: area/docs

#482 Update dependencies
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release.yml
  .github/workflows/scan.yaml
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build
