Repository fluxcd/helm-controller, pull requests merged in 2022-02, with the labels that each got.

#414 Fix Flux mention in API docs
  docs/spec/v2beta1/helmreleases.md
Labels: area/docs

#417 Rename fuzzScheme to fix fuzz integration
  tests/fuzz/fuzz_controllers.go
Labels: area/build

#416 Add uninstall disableWait flag
  api/v2beta1/helmrelease_types.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  docs/api/helmrelease.md
  docs/spec/v2beta1/helmreleases.md
  internal/runner/runner.go
Labels: enhancement, area/helm, area/UX

#422 Set QPS and Burst when impersonating service account
  api/go.mod
  api/go.sum
  controllers/helmrelease_controller.go
  go.mod
  go.sum
  internal/kube/client.go
Labels: bug
