Repository fluxcd/helm-controller, pull requests merged in 2024-05, with the labels that each got.

#962 Update `HelmChart` API to v1 (GA)
  api/go.mod
  api/go.sum
  config/default/kustomization.yaml
  go.mod
  go.sum
  internal/controller/helmrelease_controller.go
  internal/controller/helmrelease_controller_fuzz_test.go
  internal/controller/helmrelease_controller_test.go
  internal/controller/suite_test.go
  internal/reconcile/helmchart_template.go
  internal/reconcile/helmchart_template_test.go
  internal/reconcile/suite_test.go
  main.go
Labels: area/api

#968 Add the chart app version to status and events metadata
  api/v2/snapshot_types.go
  api/v2beta1/helmrelease_types.go
  api/v2beta1/zz_generated.deepcopy.go
  api/v2beta2/helmrelease_types.go
  api/v2beta2/zz_generated.deepcopy.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  docs/api/v2/helm.md
  docs/spec/v2/helmreleases.md
  internal/reconcile/correct_cluster_drift.go
  internal/reconcile/install.go
  internal/reconcile/install_test.go
  internal/reconcile/release.go
  internal/reconcile/rollback_remediation.go
  internal/reconcile/rollback_remediation_test.go
  internal/reconcile/test.go
  internal/reconcile/test_test.go
  internal/reconcile/uninstall.go
  internal/reconcile/uninstall_remediation.go
  internal/reconcile/uninstall_remediation_test.go
  internal/reconcile/uninstall_test.go
  internal/reconcile/unlock.go
  internal/reconcile/unlock_test.go
  internal/reconcile/upgrade.go
  internal/reconcile/upgrade_test.go
  internal/release/observation.go
  internal/testutil/mock_chart.go
Labels: enhancement, area/helm, area/ux

#965 Track changes in `.spec.postRenderers`
  api/v2/helmrelease_types.go
  api/v2beta1/helmrelease_types.go
  api/v2beta2/helmrelease_types.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  docs/api/v2/helm.md
  docs/spec/v2/helmreleases.md
  internal/controller/helmrelease_controller.go
  internal/controller/helmrelease_controller_test.go
  internal/postrender/build.go
  internal/reconcile/release.go
  internal/reconcile/release_test.go
  internal/reconcile/state.go
  internal/reconcile/state_test.go
Labels: area/kustomize

#975 Prevent snapshot drift when upgrading to API v2
  internal/release/digest_test.go
  internal/release/observation.go
Labels: backport:release/v1.0.x

#982 Fix: Allow upgrading from v2beta1 to v2 (GA)
  api/v2/helmrelease_types.go
  api/v2beta1/helmrelease_types.go
  api/v2beta1/zz_generated.deepcopy.go
  api/v2beta2/helmrelease_types.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  docs/api/v2/helm.md
Labels: backport:release/v1.0.x

#986 doc: fix HelmRelease default value for `.spec.upgrade.crds`
  docs/spec/v2/helmreleases.md
  docs/spec/v2beta2/helmreleases.md
Labels: area/docs, backport:release/v1.0.x

#990 Ignore 'v' version prefix in OCI artifact and Helm chart
  internal/controller/helmrelease_controller.go
  internal/controller/helmrelease_controller_test.go
Labels: backport:release/v1.0.x
