Repository fluxcd/helm-controller, pull requests merged in 2025-09, with the labels that each got.

#1281 Introduce `RetryOnFailure` lifecycle management strategy
  api/v2/helmrelease_types.go
  api/v2/zz_generated.deepcopy.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  docs/api/v2/helm.md
  docs/spec/v2/helmreleases.md
  internal/controller/helmrelease_controller.go
  internal/controller/helmrelease_controller_test.go
  internal/reconcile/atomic_release.go
  internal/reconcile/atomic_release_test.go
  internal/reconcile/install.go
  internal/reconcile/install_test.go
  internal/reconcile/upgrade.go
  internal/reconcile/upgrade_test.go
Labels: enhancement, area/ux

#1293 [RFC-0012] Add support for `ExternalArtifact` source type to `chartRef`
  Makefile
  api/v2/reference_types.go
  config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
  config/default/kustomization.yaml
  docs/spec/v2/helmreleases.md
  go.mod
  go.sum
  internal/controller/helmrelease_controller.go
  internal/controller/helmrelease_controller_test.go
  internal/controller/helmrelease_indexers.go
  internal/controller/helmrelease_manager.go
  internal/controller_test/external_artifact_test.go
  internal/controller_test/suite_test.go
  internal/features/features.go
  internal/predicates/source_predicate_test.go
  internal/testutil/save_chart.go
  main.go
Labels: area/api

#1315 Fix docs example for kubeconfig workload identity
  docs/spec/v2/helmreleases.md
Labels: area/docs, backport:release/v1.4.x
